---
layout: default

banner:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

spotlight_a:
  style: 1
  orient: right
  content_align: left
  onscroll_image: fade-in

spotlight_b:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in

spotlight_c:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in

gallery:
  style: 2
  size: medium
  lightbox: true
  button_label: 'Details'
  onscroll: fade-in

items:
  style: 1
  size: medium
  onscroll: fade-in
---

{% comment %}

	Story by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Main page of the site.

{% endcomment %}

<!-- One -->
	{% capture content %}
		<h1>Rebel and Refuge</h1>
		<p class="major">
      Become a <strong> REBEL </strong>. Find your <strong> REFUGE </strong>.
    </p>
	{% endcapture %}

	{% include components/banner.html settings=page.banner content=content image="images/lucky.jpg" image-position="right" %}

  <!-- Two -->
{% capture content %}
	<h2>Rebel Rubs and Suds</h2>
	<p>Rebel Rubs and Suds is an organic, artisan, small batch line of products for all of your leather care needs. Made in Portland Oregon, these products will keep your leather clean and protected.</p>

  <a href="/rubs-and-suds" class="button">Learn More</a>
  <br />
  <br />
  <p> "I use your green glycerine a lot. The retired leathers at the LA&M love it! I'm going to need more!" <strong> - Leslie Anderson, IMsBB 1999. Coordinator at the Leather Archives and Museum.</strong></p>

{% endcapture %}
{% include components/spotlight.html settings=page.spotlight_a content=content image="images/product_line.jpg" image-position="center" id="first" %}
